/* Écrans moyens (tablettes) */
@media (max-width: 992px) {
  form {
    margin: 0 10%;
  }
}

/* Écrans petits (smartphones) */
@media (max-width: 576px) {
  form {
    margin: 0 5%;
    padding: 5% 3%; /* plus d'espace intérieur pour respirer */
  }
}
