<br />
<br />
<div class="center">
  <h1>Modifier un utilisateur</h1>

  <br /><br />
  <p>
    Ce formulaire permet de modifier des utilisateurs aussi bien administrateurs
    que stagiaire.
  </p>
  <br />
  <br />
  <!-- Search bar -->
  <app-search-bar
    placeholder="Rechercher un utilisateur..."
    [(value)]="searchTerm"
    (valueChange)="applyFilter()"
  ></app-search-bar>
  <!-- Tableau des utilisateurs -->
  <div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th></th>
          <th>Nom</th>
          <th>Prénom</th>
          <th>Email</th>
          <th>Société</th>
          <th>Admin</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of paginatedUsers">
          <td class="text-center">
            <i
              class="bi bi-pencil-square text-primary fs-5"
              style="cursor: pointer"
              (click)="selectUser(user)"
            ></i>
          </td>
          <td>{{ user.name }}</td>
          <td>{{ user.firstname }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.society }}</td>
          <td>{{ user.admin ? "Oui" : "Non" }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Pagination -->
  <app-pagination
    [items]="filteredUsers"
    [pageSize]="5"
    (pageChange)="paginatedUsers = $event"
  >
  </app-pagination>

  <!-- Formulaire d'édition -->
  <div *ngIf="selectedUser" class="mt-4 form">
    <h4>
      Modifier l'utilisateur : {{ selectedUser.name }}
      {{ selectedUser.firstname }}
    </h4>
    <br />
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="row mb-3">
        <div class="col-lg-5 offset-lg-1">
          <label>Nom</label>
          <input formControlName="name" class="form-control" />
        </div>
        <div class="col-lg-5">
          <label>Prénom</label>
          <input formControlName="firstname" class="form-control" />
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-lg-5 offset-lg-1">
          <label>Email</label>
          <input formControlName="email" class="form-control" />
        </div>
        <div class="col-lg-5">
          <label>Société</label>
          <input formControlName="society" class="form-control" />
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-lg-5 offset-lg-1">
          <label>Mot de passe (laisser vide pour ne pas changer)</label>
          <input
            type="password"
            formControlName="password"
            class="form-control"
          />
        </div>
        <div class="col-3 d-flex align-items-center">
          <div class="form-check mt-4">
            <input
              type="checkbox"
              formControlName="admin"
              class="form-check-input"
              id="adminCheck"
            />
            <label for="adminCheck" class="form-check-label"
              >Administrateur</label
            >
          </div>
        </div>
      </div>
      <button class="btn btn-danger me-2" type="button" (click)="cancelEdit()">
        Cancel
      </button>
      <button
        class="btn btn-secondary me-2"
        type="button"
        (click)="resetForm()"
      >
        <i class="bi bi-arrow-counterclockwise"></i>
        Réinitialiser
      </button>
      <button class="btn btn-primary" type="submit" [disabled]="form.invalid">
        Valider
      </button>
    </form>
  </div>
</div>

<!-- Modal de confirmation -->
<app-confirmation-modal
  [title]="'Confirmer la mise à jour'"
  [actionType]="'update'"
  [message]="'Confirmez-vous la modification de cet utilisateur ?'"
  (confirm)="confirmUpdate()"
>
  <!-- Contenu personnalisé si besoin -->
  <div *ngIf="selectedUserBefore && selectedUserAfter">
    <div class="row mb-3">
      <div class="col-6">
        <h6>Avant :</h6>
        <pre>
  Nom : {{ selectedUserBefore.name }}
  Prénom : {{ selectedUserBefore.firstname }}
  Société : {{ selectedUserBefore.society }}
  Email : {{ selectedUserBefore.email }}
  Admin : {{ selectedUserBefore.admin }}
        </pre>
      </div>
      <div class="col-6">
        <h6>Après :</h6>
        <pre>
Nom : {{ selectedUserAfter.name }}
Prénom : {{ selectedUserAfter.firstname }}
Société : {{ selectedUserAfter.society }}
Email : {{ selectedUserAfter.email }}
Admin : {{ selectedUserAfter.admin }}
        </pre>
      </div>
    </div>
  </div>
</app-confirmation-modal>
<div *ngIf="message" class="alert" [ngClass]="messageClass" role="alert">
  {{ message }}
</div>
