<br />
<br />
<div class="center">
  <h1>Suppression de question</h1>

  <br /><br />
  <p>Cette page permet de supprimer une/des question/s.</p>
  <br />
  <br />
  <!-- Search bar -->
  <app-search-bar
    placeholder="Rechercher une question..."
    [(value)]="searchTerm"
    (valueChange)="applyFilter()"
  ></app-search-bar>
  <!-- Spinner pendant le chargement -->
  <div *ngIf="isLoading" class="text-center p-4">
    <div class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Chargement...</span>
    </div>
  </div>
  <!-- Message si aucune question après chargement -->
  <div
    *ngIf="!isLoading && questions.length === 0"
    class="alert alert-warning text-center"
    role="alert"
  >
    Aucune question n'a encore été créée. Veuillez créer des questions pour vos
    QCM !
  </div>
  <!-- Message si recherche mais aucun résultat -->
  <div
    *ngIf="!isLoading && questions.length > 0 && filteredQuestions.length === 0"
    class="alert alert-info text-center"
    role="alert"
  >
    Aucune question ne correspond à votre recherche.
  </div>
  <!-- Tableau affiché uniquement si filteredQuestions contient des éléments -->
  <div
    class="table-responsive-custom"
    *ngIf="!isLoading && filteredQuestions.length > 0"
  >
    <table class="table table-striped">
      <thead>
        <tr>
          <th></th>
          <th>Nom QCM</th>
          <th>Question</th>
          <th>Type</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let question of paginatedQuestions">
          <td class="text-center">
            <i
              class="bi bi-trash text-danger fs-5"
              style="cursor: pointer"
              (click)="selectQuestion(question)"
            ></i>
          </td>
          <td>{{ question.title }}</td>
          <td>{{ question.question }}</td>
          <td>{{ question.type }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Pagination -->
  <app-pagination
    [items]="filteredQuestions"
    [pageSize]="5"
    (pageChange)="paginatedQuestions = $event"
  >
  </app-pagination>
</div>

<!-- Modal de confirmation -->
<app-confirmation-modal
  [title]="'Confirmer la suppression d\'une Question'"
  [actionType]="'delete'"
  [message]="'Êtes-vous sûr de vouloir supprimer cette Question ?'"
  (confirm)="deleteQuestion()"
>
  <!-- Contenu personnalisé pour le corps du modal -->
  <h6>Question sélectionnée :</h6>
  <pre>
  Question: {{ selectedQuestion?.question }}
  Type: {{ selectedQuestion?.type }}
  </pre>
</app-confirmation-modal>
<div *ngIf="message" class="alert" [ngClass]="messageClass" role="alert">
  {{ message }}
</div>
