<br />
<br />
<div class="center">
  <h1>Suppression de question</h1>

  <br /><br />
  <p>Cette page permet de supprimer une/des question/s.</p>
  <br />
  <br />
  <!-- Search bar -->
  <div class="mb-3 d-flex justify-content-end">
    <input
      type="text"
      class="form-control w-25"
      placeholder="Rechercher une question..."
      [(ngModel)]="searchTerm"
      (input)="applyFilter()"
    />
  </div>
  <!-- TABLE -->
  <div class="table-responsive-custom">
    <table class="table table-striped">
      <thead>
        <tr>
          <th></th>
          <th>Nom QCM</th>
          <th>Question</th>
          <th>Type</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let question of paginatedQuestions">
          <td class="text-center">
            <i
              class="bi bi-trash text-danger fs-5"
              style="cursor: pointer"
              (click)="selectQuestion(question)"
            ></i>
          </td>
          <td>{{ question.title }}</td>
          <td>{{ question.question }}</td>
          <td>{{ question.type }}</td>
        </tr>
      </tbody>
    </table>
    <div *ngIf="questions.length === 0" class="text-center text-muted mt-3">
      Aucune question disponible.
    </div>
  </div>

  <!-- Pagination -->
  <div class="d-flex justify-content-between mt-2">
    <button class="btn btn-secondary" (click)="prevPage()">&lt;</button>
    <button class="btn btn-secondary" (click)="nextPage()">&gt;</button>
  </div>
</div>

<!-- Modal de confirmation -->
<div class="modal fade" id="confirmModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-danger fw-bold">
          Confirmation de suppresion !
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
        ></button>
      </div>
      <div class="modal-body">
        <h6>Question sélectionnée :</h6>
        <pre>
          Question: {{ selectedQuestion?.question }}
          Type: {{ selectedQuestion?.type }}
          Position: {{ selectedQuestion?.position }}
        </pre>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Annuler
        </button>
        <button type="button" class="btn btn-danger" (click)="deleteQuestion()">
          Supprimer
        </button>
      </div>
    </div>
  </div>
</div>
<div *ngIf="message" class="alert" [ngClass]="messageClass" role="alert">
  {{ message }}
</div>
