<br />
<br />
<div class="center">
  <h1>Modifier d'un questionnaire</h1>

  <br /><br />
  <p>
    Ce formulaire permet de modifier un questionnaire.Aucun ajout ou suppression
    possible via cette page.
  </p>
  <p>
    Elle est dédiée uniquement à la modification du contenu d'un questionnaire
    existant.
  </p>
  <br />
  <!-- Search bar -->
  <div class="mb-3 d-flex justify-content-end">
    <input
      type="text"
      class="form-control w-25"
      placeholder="Rechercher un QCM..."
      [(ngModel)]="searchTerm"
      (input)="applyFilter()"
    />
  </div>
  <!-- Tableau des qcm -->
  <div class="table-responsive-custom">
    <table class="table table-striped">
      <thead>
        <tr>
          <th></th>
          <th>Titre</th>
          <th>Description</th>
          <th>Créé par</th>
          <th>Créé le</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let qcm of paginatedQCM">
          <td class="text-center">
            <i
              class="bi bi-pencil-square text-primary fs-5"
              style="cursor: pointer"
              (click)="editQCM(qcm)"
            ></i>
          </td>
          <td>{{ qcm.title }}</td>
          <td>{{ qcm.description }}</td>
          <td>{{ qcm.user }}</td>
          <td>{{ qcm.created_at | date : "short" }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- Pagination -->
  <div class="d-flex justify-content-between">
    <button class="btn btn-secondary" (click)="prevPage()">&lt;</button>
    <button class="btn btn-secondary" (click)="nextPage()">&gt;</button>
  </div>
  <br /><br />
  <form
    [formGroup]="qcmForm"
    (ngSubmit)="submitForm()"
    *ngIf="selectedQcm"
    class="form-l"
  >
    <h4 class="fw-bold">MODIFICATION</h4>
    <br />
    <label for="title">Titre</label>
    <input
      formControlName="title"
      placeholder="Titre QCM"
      class="form-control mb-2"
    /><br />
    <label for="title">Description</label>
    <textarea
      formControlName="description"
      placeholder="Description"
      class="form-control mb-4"
    ></textarea>
    <br />
    <button
      type="button"
      class="btn btn-secondary mt-3 me-2"
      (click)="resetForm()"
    >
      Réinitialiser
    </button>
    <button type="submit" class="btn btn-primary mt-3">Enregistrer</button>
  </form>
</div>
<!-- MODALS -->
<div
  class="modal fade"
  id="successModal"
  tabindex="-1"
  aria-labelledby="successModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content text-center p-3">
      <div class="modal-body">
        <div class="mb-3">
          <span style="font-size: 3rem">✔️</span>
        </div>
        <h5 class="modal-title mb-3" id="successModalLabel">
          Modification QCM réalisée avec succès !
        </h5>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">
          Fermer
        </button>
      </div>
    </div>
  </div>
</div>
<div
  class="modal fade"
  id="failedModal"
  tabindex="-1"
  aria-labelledby="failedModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content text-center p-3">
      <div class="modal-body">
        <div class="mb-3">
          <span style="font-size: 3rem">❌</span>
        </div>
        <h5 class="modal-title mb-3" id="failedModalLabel">
          La modification a échoué !
        </h5>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">
          Fermer
        </button>
      </div>
    </div>
  </div>
</div>
