<br />
<br />
<div class="center">
  <h1>Modifier d'un questionnaire</h1>

  <br /><br />
  <p>
    Ce formulaire permet de modifier un questionnaire.Aucun ajout ou suppression
    possible via cette page.
  </p>
  <p>
    Elle est dédiée uniquement à la modification du contenu d'un questionnaire
    existant.
  </p>
  <br />
  <!-- Search bar -->
  <app-search-bar
    placeholder="Rechercher un QCM..."
    [(value)]="searchTerm"
    (valueChange)="applyFilter()"
  ></app-search-bar>
  <!-- Tableau des qcm -->
  <div class="table-responsive-custom">
    <table class="table table-striped">
      <thead>
        <tr>
          <th></th>
          <th>Titre</th>
          <th>Description</th>
          <th>Créé par</th>
          <th>Créé le</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let qcm of paginatedQcms">
          <td class="text-center">
            <i
              class="bi bi-pencil-square text-primary fs-5"
              style="cursor: pointer"
              (click)="editQCM(qcm)"
            ></i>
          </td>
          <td>{{ qcm.title }}</td>
          <td>{{ qcm.description }}</td>
          <td>{{ qcm.user }}</td>
          <td>{{ qcm.created_at | date : "short" }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- Pagination -->
  <app-pagination
    [items]="filteredQcms"
    [pageSize]="5"
    (pageChange)="paginatedQcms = $event"
  >
  </app-pagination>
  <br /><br />
  <form
    [formGroup]="qcmForm"
    (ngSubmit)="submitForm()"
    *ngIf="selectedQcm"
    class="form-l"
  >
    <h4 class="fw-bold">MODIFICATION</h4>
    <br />
    <label for="title">Titre</label>
    <input
      formControlName="title"
      placeholder="Titre QCM"
      class="form-control mb-2"
    /><br />
    <label for="title">Description</label>
    <textarea
      formControlName="description"
      placeholder="Description"
      class="form-control mb-4"
    ></textarea>
    <br />
    <button
      type="button"
      class="btn btn-secondary mt-3 me-2"
      (click)="resetForm()"
    >
      Réinitialiser
    </button>
    <button type="submit" class="btn btn-primary mt-3">Enregistrer</button>
  </form>
</div>
<!-- MODALS -->
<app-modal
  modalId="successModal"
  icon="✔️"
  message="Modification QCM réalisée avec succès !"
  (onClose)="onQcmUpdated()"
></app-modal>
<app-modal
  modalId="failedModal"
  icon="❌"
  message="La modification du QCM a échoué !"
></app-modal>
