<br />
<br />
<div class="center">
  <h1>Modifier d'un questionnaire et ses questions/responses</h1>

  <br /><br />
  <p>
    Ce formulaire permet de modifier un questionnaire et ses questions ainsi que
    les réponses pour chaque question.
  </p>
  <p>
    Elle est dédiée uniquement à la modification du contenu d'un questionnaire
    existant.
  </p>
  <br />
  <!-- Tableau des qcm -->
  <div class="table-responsive-custom">
    <table class="table table-striped">
      <thead>
        <tr>
          <th></th>
          <th>Titre</th>
          <th>Description</th>
          <th>Créé par</th>
          <th>Créé le</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let qcm of paginatedQCM">
          <td class="text-center">
            <i
              class="bi bi-pencil-square text-primary fs-5"
              style="cursor: pointer"
              (click)="editQCM(qcm)"
            ></i>
          </td>
          <td>{{ qcm.title }}</td>
          <td>{{ qcm.description }}</td>
          <td>{{ qcm.user }}</td>
          <td>{{ qcm.created_at | date : "short" }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- Pagination -->
  <div class="d-flex justify-content-between">
    <button class="btn btn-secondary" (click)="prevPage()">&lt;</button>
    <button class="btn btn-secondary" (click)="nextPage()">&gt;</button>
  </div>
  <br /><br />
  <form
    [formGroup]="qcmForm"
    (ngSubmit)="submitForm()"
    *ngIf="selectedQcm"
    class="form-l"
  >
    <h4 class="fw-bold">MODIFICATION</h4>
    <br />
    <label for="title">Titre</label>
    <input
      formControlName="title"
      placeholder="Titre QCM"
      class="form-control mb-2"
    /><br />
    <label for="title">Description</label>
    <textarea
      formControlName="description"
      placeholder="Description"
      class="form-control mb-4"
    ></textarea>
    <br /><br />
    <label for="title">Questions</label>
    <div formArrayName="questions">
      <div
        *ngFor="let question of questions.controls; let qIndex = index"
        [formGroupName]="qIndex"
        class="mb-4"
      >
        <input
          formControlName="question"
          placeholder="Intitulé de la question"
          class="form-control mb-2"
        />

        <h5>Réponses :</h5>
        <div formArrayName="responses">
          <div
            *ngFor="
              let response of getResponses(qIndex).controls;
              let rIndex = index
            "
            [formGroupName]="rIndex"
            class="row g-2 align-items-center mb-2"
          >
            <div class="col-8">
              <input formControlName="response" class="form-control" />
            </div>
            <div class="col-2 text-center">
              <input
                type="checkbox"
                formControlName="is_correct"
                class="form-check-input"
              />
            </div>
            <div class="col-2 text-end">
              <button
                type="button"
                class="btn btn-outline-danger btn-sm"
                (click)="removeResponse(qIndex, rIndex)"
              >
                ❌
              </button>
            </div>
          </div>
        </div>

        <button
          type="button"
          class="btn btn-outline-primary btn-sm mt-2"
          (click)="addResponse(qIndex)"
        >
          ➕ Ajouter une réponse
        </button>
      </div>
    </div>

    <button type="submit" class="btn btn-success mt-3">Enregistrer</button>
  </form>
</div>
