<br />
<br />
<div class="center">
  <h1>Suppression de questionnaire</h1>

  <br /><br />
  <p>Ce formulaire permet de supprimer d'un questionnaire.</p>
  <br />
  <br />
  <!-- Search bar -->
  <app-search-bar
    placeholder="Rechercher un QCM..."
    [(value)]="searchTerm"
    (valueChange)="applyFilter()"
  ></app-search-bar>
  <!-- Spinner pendant le chargement -->
  <div *ngIf="isLoading" class="text-center p-4">
    <div class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Chargement...</span>
    </div>
  </div>
  <!-- Message si aucun QCM après chargement -->
  <div
    *ngIf="!isLoading && qcms.length === 0"
    class="alert alert-warning text-center"
    role="alert"
  >
    Aucun QCM n'a encore été créé. Veuillez créer des QCM pour tester vos
    stagiaires !
  </div>
  <!-- Message si recherche mais aucun résultat -->
  <div
    *ngIf="!isLoading && qcms.length > 0 && filteredQcms.length === 0"
    class="alert alert-info text-center"
    role="alert"
  >
    Aucun QCM ne correspond à votre recherche.
  </div>
  <!-- Tableau affiché uniquement si filteredQcms contient des éléments -->
  <div
    class="table-responsive-custom"
    *ngIf="!isLoading && filteredQcms.length > 0"
  >
    <table class="table table-striped">
      <thead>
        <tr>
          <th></th>
          <th>Titre</th>
          <th>Description</th>
          <th>Créé par</th>
          <th>Créé le</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let qcm of paginatedQcms">
          <td class="text-center">
            <i
              class="bi bi-trash text-danger fs-5"
              style="cursor: pointer"
              (click)="selectQcm(qcm)"
            ></i>
          </td>
          <td>{{ qcm.title }}</td>
          <td>{{ qcm.description }}</td>
          <td>{{ qcm.user }}</td>
          <td>{{ qcm.created_at | date : "short" }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- Pagination -->
  <app-pagination
    [items]="filteredQcms"
    [pageSize]="5"
    (pageChange)="paginatedQcms = $event"
  >
  </app-pagination>
</div>

<!-- Modal de confirmation -->
<app-confirmation-modal
  [title]="'Confirmer la suppression du QCM'"
  [actionType]="'delete'"
  [message]="'Êtes-vous sûr de vouloir supprimer ce QCM ?'"
  (confirm)="deleteQcm()"
>
  <!-- Contenu personnalisé pour le corps du modal -->
  <h6>QCM sélectionné :</h6>
  <pre>
  Titre : {{ selectedQcm?.title }}
  Description : {{ selectedQcm?.description }}
  Créé par : {{ selectedQcm?.user }}
  </pre>
  <hr />
  <h6>⚠️ Suppression également des éventuelles questions du QCM.</h6>
</app-confirmation-modal>
<div *ngIf="message" class="alert" [ngClass]="messageClass" role="alert">
  {{ message }}
</div>
