<div class="dashboard-container">
  <!-- Sidebar à droite -->
  <button class="logout-btn" (click)="logout()">
    <img src="img/icon_deconnexion.png" alt="Déconnexion" />
  </button>
  <aside class="sidebar">
    <div class="menu">
      <div id="logo-div">
        <img class="logo" src="img/logo-blankBackground.png" alt="Logo" />
      </div>
      <br />
      <h2>Admin</h2>
      <br />
      <ul>
        <li routerLink="/admin" routerLinkActive="active">
          <i class="bi bi-house-door"></i> Dashboard
        </li>
        <!-- Gestion des QCM -->
        <li>
          <div class="menu-item" (click)="toggleQcm()">
            <i class="bi bi-card-checklist"></i> Gestion des QCM
          </div>
          <ul *ngIf="showQcm">
            <li routerLink="admin/ajout_qcm" routerLinkActive="active">
              <i class="bi bi-plus-circle"></i> Ajout QCM
            </li>
            <li routerLink="admin/modification_qcm" routerLinkActive="active">
              <i class="bi bi-pencil-square"></i> Modification QCM
            </li>
            <li routerLink="admin/suppression_qcm" routerLinkActive="active">
              <i class="bi bi-trash"></i> Suppression QCM
            </li>

            <!-- Gestion des questions -->
            <li>
              <div class="menu-item" (click)="toggleQuestions()">
                <i class="bi bi-question-circle"></i> Gestion des questions
              </div>
              <ul *ngIf="showQuestions">
                <li routerLink="admin/ajout_question" routerLinkActive="active">
                  <i class="bi bi-plus-circle"></i> Ajout question
                </li>
                <li
                  routerLink="admin/modification_question"
                  routerLinkActive="active"
                >
                  <i class="bi bi-pencil-square"></i> Modification question
                </li>
                <li
                  routerLink="admin/suppression_question"
                  routerLinkActive="active"
                >
                  <i class="bi bi-trash"></i> Suppression question
                </li>
              </ul>
            </li>
          </ul>
        </li>

        <!-- Gestion des stagiaires -->
        <li>
          <div class="menu-item" (click)="toggleUtilisateur()">
            <i class="bi bi-person-badge"></i> Gestion des utilisateurs
          </div>
          <ul *ngIf="showUtilisateur">
            <li routerLink="admin/ajout_utilisateur" routerLinkActive="active">
              <i class="bi bi-plus-circle"></i> Ajout utilisateur
            </li>
            <li
              routerLink="admin/modification_utilisateur"
              routerLinkActive="active"
            >
              <i class="bi bi-pencil-square"></i> Modification utilisateur
            </li>
            <li
              routerLink="admin/suppression_stagiaire"
              routerLinkActive="active"
            >
              <i class="bi bi-trash"></i> Suppression utilisateur
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </aside>
  <!-- Zone principale -->
  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
</div>
