<br /><br />
<div class="center">
  <h1>Ajouter un questionnaire</h1>

  <br /><br />
  <p>Ce formulaire permet d'ajouter un questionnaire.</p>
  <p>Elle est dédiée uniquement à l'ajout d'un questionnaire sans question.</p>
  <br />

  <!-- Formulaire réactif -->
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-l">
    <h4 class="fw-bold">Nouveau QCM</h4>
    <br />

    <label for="title">Titre</label>
    <input
      formControlName="title"
      placeholder="Titre QCM"
      class="form-control mb-2"
    />
    <div
      *ngIf="form.get('title')?.invalid && form.get('title')?.touched"
      class="text-danger mb-2"
    >
      Le titre est obligatoire.
    </div>

    <label for="description">Description</label>
    <textarea
      formControlName="description"
      placeholder="Description"
      class="form-control mb-4"
    ></textarea>
    <div
      *ngIf="
        form.get('description')?.invalid && form.get('description')?.touched
      "
      class="text-danger mb-2"
    >
      Une description est obligatoire.
    </div>

    <button
      type="submit"
      class="btn btn-primary mt-3"
      [disabled]="form.invalid"
    >
      <i class="bi bi-save"></i> Enregistrer
    </button>
  </form>
</div>

<!-- Modal Bootstrap succès -->
<app-modal
  modalId="successModal"
  icon="✔️"
  message="Ajout QCM réalisée avec succès !"
></app-modal>
<app-modal
  modalId="failedModal"
  icon="❌"
  message="L'ajout du QCM a échoué !"
></app-modal>
<app-modal
  modalId="conflictModal"
  icon="⚠️"
  message="Impossible d'ajouter ce QCM : un QCM avec ce titre existe déjà."
></app-modal>
