<br /><br />
<div class="center">
  <h1>Ajouter un questionnaire</h1>

  <br /><br />
  <p>Ce formulaire permet d'ajouter un questionnaire.</p>
  <p>Elle est dédiée uniquement à l'ajout d'un questionnaire sans question.</p>
  <br />

  <!-- Formulaire réactif -->
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-l">
    <h4 class="fw-bold">Nouveau QCM</h4>
    <br />

    <label for="title">Titre</label>
    <input
      formControlName="title"
      placeholder="Titre QCM"
      class="form-control mb-2"
    />
    <div
      *ngIf="form.get('title')?.invalid && form.get('title')?.touched"
      class="text-danger mb-2"
    >
      Le titre est obligatoire.
    </div>

    <label for="description">Description</label>
    <textarea
      formControlName="description"
      placeholder="Description"
      class="form-control mb-4"
    ></textarea>

    <button type="submit" class="btn btn-primary mt-3">Enregistrer</button>
  </form>
</div>

<!-- Modal Bootstrap succès -->
<div
  class="modal fade"
  id="successModal"
  tabindex="-1"
  aria-labelledby="successModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content text-center p-3">
      <div class="modal-body">
        <div class="mb-3">
          <span style="font-size: 3rem; color: green">✔️</span>
        </div>
        <h5 class="modal-title mb-3" id="successModalLabel">
          QCM ajouté avec succès !
        </h5>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">
          Fermer
        </button>
      </div>
    </div>
  </div>
</div>
