<div class="dashboard-container">
  <!-- Sidebar à droite -->
  <button class="logout-btn" (click)="logout()">Déconnexion</button>
  <aside class="sidebar">
    <div class="menu">
      <div id="logo-div">
        <img class="logo" src="img/logo-blankBackground.png" alt="Logo" />
      </div>
      <br />
      <h2>Stagiaire</h2>
      <br />
      <ul>
        <li routerLink="stagiaire/dashboard" routerLinkActive="active">
          🏠 Dashboard
        </li>
        <br />
        <li routerLink="stagiaire/choix_qcm" routerLinkActive="active">
          🕵🏻 Choix QCM
        </li>
        <br />
        <li routerLink="stagiaire/affichage_results" routerLinkActive="active">
          🏆 Affichage résultats
        </li>
      </ul>
    </div>
  </aside>
  <!-- Zone principale -->
  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
</div>
