<div class="dashboard-container">
  <!-- Sidebar à droite -->
  <button class="logout-btn" (click)="logout()">
    <img src="img/icon_deconnexion.png" alt="Déconnexion" />
  </button>
  <aside class="sidebar">
    <div class="menu">
      <div id="logo-div">
        <img class="logo" src="img/logo-blankBackground.png" alt="Logo" />
      </div>
      <br />
      <h2>Stagiaire</h2>
      <br />
      <ul>
        <li routerLink="stagiaire/dashboard" routerLinkActive="active">
          <i class="bi bi-house-door"></i> Dashboard
        </li>
        <br />
        <li routerLink="stagiaire/choix_qcm" routerLinkActive="active">
          <i class="bi bi-search"></i> Choix QCM
        </li>
        <br />
        <li routerLink="stagiaire/affichage_results" routerLinkActive="active">
          <i class="bi bi-trophy"></i> Affichage résultats
        </li>
      </ul>
    </div>
  </aside>
  <!-- Zone principale -->
  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
</div>
