<div class="container">
  <div class="left">
    <img
      class="img-background"
      src="img/PageConnexion_FondEcran.jpg"
      alt="Image côté gauche"
    />
  </div>
  <div class="right">
    <img class="logo" src="img/logo-blankBackground.png" alt="Logo" />

    <h1>Bonjour, bienvenue !</h1>
    <br />
    <p>Entrer l'identifiant et le mot de passe.</p>
    <br /><br />

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <label for="name">Identifiant :</label>
      <input
        type="text"
        id="name"
        placeholder="mon_identifiant"
        formControlName="name"
      />
      <br />
      <label for="password">Mot de passe :</label>
      <input
        type="password"
        id="password"
        placeholder="**********"
        formControlName="password"
      />
      <br />
      <button type="submit" [disabled]="loginForm.invalid">Se connecter</button>
    </form>
  </div>
</div>
