<br />
<br />
<div class="center">
  <h1>Ajout question</h1>

  <br /><br />
  <p>Ce formulaire permet d'ajouter une/des question/s à un questionnaire.</p>
  <br />

  <form class="form">
    <!-- QCM -->
    <div class="mb-3">
      <div class="row">
        <div class="col-10 offset-1">
          <label for="id_qcm" class="form-label">QCM</label>
          <br />
          <select
            class="form-select"
            id="id_qcm"
            (change)="onQcmChange($event)"
          >
            <option value="" disabled selected>
              -- Sélectionner un QCM --
            </option>
            <option *ngFor="let qcm of qcms" [value]="qcm.id_qcm">
              {{ qcm.title }}
            </option>
          </select>
        </div>
      </div>
    </div>

    <app-form-question></app-form-question>
  </form>
</div>
