<br />
<br />
<div class="center">
  <h1>Répondre à un questionnaire</h1>

  <br /><br />
  <p>
    Vous êtes libre de choisir le QCM qui vous convient le nombre de fois que
    vous désirez.
  </p>
  <p><i>Il n'y a pas de limite pour améliorer ces connaissances !</i></p>
  <br />
  <!-- Search bar -->
  <div class="mb-3 d-flex justify-content-end">
    <input
      type="text"
      class="form-control w-25"
      placeholder="Rechercher un QCM..."
      [(ngModel)]="searchTerm"
      (input)="applyFilter()"
    />
  </div>
  <!-- Tableau des qcm -->
  <div class="table-responsive-custom">
    <table class="table table-striped">
      <thead>
        <tr>
          <th></th>
          <th>Titre</th>
          <th>Description</th>
          <th>Créé par</th>
          <th>Créé le</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let qcm of paginatedQCM">
          <td class="text-center">
            <i
              class="bi bi-pencil-square text-primary fs-5"
              style="cursor: pointer"
              (click)="editQCM(qcm)"
            ></i>
          </td>
          <td>{{ qcm.title }}</td>
          <td>{{ qcm.description }}</td>
          <td>{{ qcm.user }}</td>
          <td>{{ qcm.created_at | date : "short" }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- Pagination -->
  <div class="d-flex justify-content-between">
    <button class="btn btn-secondary" (click)="prevPage()">&lt;</button>
    <button class="btn btn-secondary" (click)="nextPage()">&gt;</button>
  </div>
  <br /><br />

  <!-- Modal qcm page -->
  <div
    class="modal fade"
    id="qcmModal"
    tabindex="-1"
    aria-labelledby="qcmModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content p-3">
        <div class="modal-body" *ngIf="selectedQcm">
          <h4 class="fw-bold center">{{ selectedQcm.title }}</h4>
          <br />
          <p>{{ selectedQcm.description }}</p>
          <hr />
          <br />
          <div
            *ngFor="let question of selectedQcm.questions; let qIndex = index"
          >
            <p class="fw-bold center">
              Q{{ qIndex + 1 }}: {{ question.question }}
            </p>

            <ul class="list-group mb-3">
              <li
                class="list-group-item d-flex align-items-center"
                *ngFor="
                  let resp of getResponses(qIndex).controls;
                  let rIndex = index
                "
              >
                <input
                  type="{{ question.type === 'single' ? 'radio' : 'checkbox' }}"
                  [name]="'question' + qIndex"
                  class="me-2"
                  [value]="resp.value.id_response"
                  (change)="
                    onAnswerSelect(
                      qIndex,
                      resp.value.id_response,
                      $event,
                      question.type
                    )
                  "
                />
                {{ resp.value.response }}
              </li>
            </ul>
          </div>

          <button
            type="button"
            class="btn btn-danger mt-3 me-2"
            data-bs-dismiss="modal"
          >
            Fermer
          </button>
          <button
            type="button"
            class="btn btn-secondary mt-3 me-2"
            (click)="resetAnswers()"
          >
            <i class="bi bi-arrow-counterclockwise"></i>
            Réinitialiser
          </button>
          <button
            type="submit"
            class="btn btn-success mt-3"
            (click)="submitForm()"
          >
            <i class="bi bi-save"></i> Valider
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="successModal"
  tabindex="-1"
  aria-labelledby="successModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content text-center p-3">
      <div class="modal-body">
        <div class="mb-3">
          <span style="font-size: 3rem; color: green">✔️</span>
        </div>
        <h5 class="modal-title mb-3" id="successModalLabel">
          QCM ajouté avec succès !
        </h5>
        <p>{{ successMessage }}</p>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">
          Fermer
        </button>
      </div>
    </div>
  </div>
</div>
<div
  class="modal fade"
  id="failedModal"
  tabindex="-1"
  aria-labelledby="failedModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content text-center p-3">
      <div class="modal-body">
        <div class="mb-3">
          <span style="font-size: 3rem; color: red">❌</span>
        </div>
        <h5 class="modal-title mb-3" id="failedModalLabel">
          Echec lors de l'ajout du qcm !
        </h5>
        <p>{{ failedMessage }}</p>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">
          Fermer
        </button>
      </div>
    </div>
  </div>
</div>
