<br /><br />
<div class="center">
  <h1>DASHBOARD - Administrateur</h1>
  <br /><br />
  <div class="row">
    <div
      class="col-lg-3 col-md-6 col-sm-12"
      *ngFor="
        let stat of [
          {
            icon: 'img/icon_1_dashboard_admin.jpg',
            value: nbStagiaires,
            label: 'stagiaires'
          },
          {
            icon: 'img/icon_2_dashboard_admin.jpg',
            value: nbQuestionnaires,
            label: 'questionnaires'
          },
          {
            icon: 'img/icon_3_dashboard_admin.png',
            value: nbQuestionnairesComplets,
            label: 'questionnaires complets'
          },
          {
            icon: 'img/icon_4_dashboard_admin.png',
            value: nbQuestionnairesRealises,
            label: 'questionnaires réalisés'
          }
        ]
      "
    >
      <div class="card_3">
        <img [src]="stat.icon" /><br /><br />
        <h2 class="fw-bold">{{ stat.value }}</h2>
        <h4>{{ stat.label }}</h4>
      </div>
    </div>
  </div>

  <hr />

  <div class="row text-center">
    <div class="col-6 d-flex justify-content-center">
      <div
        class="card_6 p-3 w-100 d-flex align-items-center justify-content-center"
      >
        <div class="row w-100">
          <div class="col-5 d-flex justify-content-center align-items-center">
            <img src="img/icon_5_dashboard_admin.png" class="img-fluid" />
          </div>
          <div
            class="col-lg-5 offset-lg-1 col-md-6 col-sm-10 col-xs-12 d-flex flex-column justify-content-center align-items-center"
          >
            <h4>Questionnaire le plus populaire :</h4>
            <h2 class="fw-bold">{{ questionnairePopulaire }}</h2>
          </div>
        </div>
      </div>
    </div>

    <div class="col-6 d-flex justify-content-center">
      <div
        class="card_6 p-3 w-100 d-flex align-items-center justify-content-center"
      >
        <div class="row w-100">
          <div class="col-5 d-flex justify-content-center align-items-center">
            <img src="img/icon_6_dashboard_admin.png" class="img-fluid" />
          </div>
          <div
            class="col-5 offset-1 d-flex flex-column justify-content-center align-items-center"
          >
            <h4>Utilisateur le plus actif :</h4>
            <h2 class="fw-bold">
              {{ stagiaireActif.firstname }} {{ stagiaireActif.name }}
            </h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<hr />

<div class="center my-4">
  <h3>Podium des utilisateurs les plus performants</h3>
  <div class="podium-container d-flex justify-content-center align-items-end">
    <div
      class="podium-block second"
      *ngIf="userRank.length > 1"
      title="{{ userRank[1].name }} {{ userRank[1].firstname }}"
    >
      <div class="podium-name">
        {{ userRank[1].name }} {{ userRank[1].firstname }}
      </div>
      <div class="podium-label">2ᵉ</div>
    </div>
    <div
      class="podium-block first"
      *ngIf="userRank.length > 0"
      title="{{ userRank[0].name }} {{ userRank[0].firstname }}"
    >
      <div class="podium-name">
        {{ userRank[0].name }} {{ userRank[0].firstname }}
      </div>
      <div class="podium-label">1ᵉʳ</div>
    </div>
    <div
      class="podium-block third"
      *ngIf="userRank.length > 2"
      title="{{ userRank[2].name }} {{ userRank[2].firstname }}"
    >
      <div class="podium-name">
        {{ userRank[2].name }} {{ userRank[2].firstname }}
      </div>
      <div class="podium-label">3ᵉ</div>
    </div>
  </div>
</div>

<hr />

<div class="center">
  <h3>Statistiques par tentatives de réponses au QCM</h3>
  <table class="table table-bordered table-striped align-middle text-center">
    <thead>
      <tr>
        <th>ID Attempt</th>
        <th>Nom QCM</th>
        <th>Stagiaire</th>
        <th>Début</th>
        <th>Fin</th>
        <th>Score</th>
        <th>Progression</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let attempt of paginatedAttempts">
        <td>{{ attempt.id_attempt }}</td>
        <td>{{ attempt.title }}</td>
        <td>{{ attempt.name }}</td>
        <td>{{ attempt.started_at | date : "short" }}</td>
        <td>{{ attempt.ended_at | date : "short" }}</td>
        <td style="width: 15%">
          <div class="position-relative" style="height: 20px">
            <div class="progress h-100">
              <div
                class="progress-bar"
                role="progressbar"
                [ngStyle]="{
                  width: attempt.score + '%',
                  backgroundColor: getCompletionColor(attempt.score)
                }"
                [attr.aria-valuenow]="attempt.score"
                aria-valuemin="0"
                aria-valuemax="100"
              ></div>
            </div>
            <span
              class="position-absolute top-50 start-50 translate-middle fw-bold"
              style="color: black"
            >
              {{ attempt.score | number : "1.0-0" }}%
            </span>
          </div>
        </td>
        <td style="width: 10%">
          <div class="position-relative" style="height: 20px">
            <div class="progress h-100">
              <div
                class="progress-bar"
                role="progressbar"
                [ngStyle]="{
                  width: attempt.completed + '%',
                  backgroundColor: getCompletionColor(attempt.completed)
                }"
                [attr.aria-valuenow]="attempt.completed"
                aria-valuemin="0"
                aria-valuemax="100"
              ></div>
            </div>
            <span
              class="position-absolute top-50 start-50 translate-middle fw-bold"
              style="color: black"
            >
              {{ attempt.completed | number : "1.0-0" }}%
            </span>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <app-pagination
    [items]="allAttempts"
    [pageSize]="pageSize"
    (pageChange)="paginatedAttempts = $event"
  ></app-pagination>
</div>

<hr />

<div class="center">
  <h3>Statistiques par utilisateur</h3>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Utilisateur</th>
        <th>Nb questionnaires</th>
        <th>Score min</th>
        <th>Score max</th>
        <th>Score moyen</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of paginatedUserStats">
        <td>{{ user.name }} {{ user.firstname }}</td>
        <td>{{ user.nb_questionnaires }}</td>
        <td>{{ user.min_score | number : "1.1-1" }}</td>
        <td>{{ user.max_score | number : "1.1-1" }}</td>
        <td>{{ user.avg_score | number : "1.1-1" }}</td>
      </tr>
    </tbody>
  </table>

  <app-pagination
    [items]="combinedUserStats"
    [pageSize]="pageSize"
    (pageChange)="paginatedUserStats = $event"
  ></app-pagination>
</div>

<hr />

<div class="center">
  <h3>Temps moyen par utilisateur</h3>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Utilisateur</th>
        <th>Temps moyen (min)</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of paginatedAvgTime">
        <td>{{ user.name }} {{ user.firstname }}</td>
        <td>{{ user.avg_time_minutes | timeFormat }}</td>
      </tr>
    </tbody>
  </table>

  <app-pagination
    [items]="userAvgTime"
    [pageSize]="pageSize"
    (pageChange)="paginatedAvgTime = $event"
  ></app-pagination>
</div>
